*{
    font-size: 16px;
    font-family: 'Kanit', sans-serif;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #E5E5E5;
    width: 100%;
}

.navbar{
    width: 100%;
    background-color: #134B8A;
    height: 60px;
    position: absolute;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.15);
}

.img-bell{
    width: 18px;
    height: 22px;
}

.circle-red{
    width: 10px;
    height: 10px;
    background-color: #F7685B;
    border: 1px solid #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 175px;
}

.img-user{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.text-name{
    position: static;
    font-size: 14px;
    color: #ffffff;
}

.img-angle-down{
    width: 7px;
    height: 7px;
    color: #ffffff;
}

.nav-left{
    position: absolute;
    width: 90px;
    height: 1456px;
    background-color: #ffffff;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
    border-radius: 0px 50px 50px 0px;
}

.img-logo{
    width: 53px;
    height: 53px;
}

.img-list{
    margin: 10px;
    width: 15px;
    height: 15px;
    
}

.text-place{
    font-size: 12px;
}

.container{
    padding-left: 131px;
    padding-right: 38px;
    padding-top: 80px;
    padding-bottom: 38px;
    width: 100%;
    position: absolute;
}

.ui.input>input {
    margin: 0;
    max-width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    outline: 0;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    text-align: left;
    line-height: 1.21428571em;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    padding: 0.67857143em 1em;
    background: #fff;
    border: 1px solid #134B8A;
    color: rgba(0,0,0,.87);
    border-radius: 50px;
    -webkit-transition: border-color .1s ease,-webkit-box-shadow .1s ease;
    transition: border-color .1s ease,-webkit-box-shadow .1s ease;
    transition: box-shadow .1s ease,border-color .1s ease;
    transition: box-shadow .1s ease,border-color .1s ease,-webkit-box-shadow .1s ease;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.vertical{
    border-right: 1.5px solid #134B8A;
    padding-left: 14px;
    margin-right: 14px;
}

.clear{
    clear: both;
    
}
.ui[class*="three column"].grid>.column:not(.row), .ui[class*="three column"].grid>.row>.column {
    width: 549px;
}

.block-res{
    height: 225px;
    background: #ffffff;
    margin: 19px;
    border-radius: 10px;
}

.img-res{
    border-radius: 10px;
    width: 60px;
    height: 60px;
}

.pd-left-100{
    padding-left: 90px;
}
.pd-left-19{
    padding-left: 10px;
}

.img-food1{
    border-radius: 10px 0px 0px 10px;
}
.img-food2{
    border-radius: 0px 10px 10px 0px;
}

.img-size{
    width: 172px;
    height: 120px;
}


.block-page{
    width: 40px;
    height: 40px;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    background: #FFFFFF;
    border: 1.5px solid #9E9E9E;
    box-sizing: border-box;
    border-radius: 50px;
}
.block-pagepre{
    width: 40px;
    height: 40px;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    background: #FFFFFF;
    border: 1.5px solid #9E9E9E;
    box-sizing: border-box;
    border-radius: 50px;
}
.block-pagenext{
    width: 40px;
    height: 40px;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    background: #FFFFFF;
    border: 1.5px solid #9E9E9E;
    box-sizing: border-box;
    border-radius: 50px;
}

.img-logo-moblie{
    display: none;
}

.f-left{
    float: left;
}
.f-right{
    float: right;
}

.for-web{
    text-align: left;
}

.for-moblie{
    display: none;
}

.res-name{
    text-align: left;
}

.active{
    background: #134B8A;
    color: #ffffff;
}

@media only screen and (max-width: 767.98px){
    *{
        padding: 0px;
        margin: 0px;
    }
    .img-bell{
        display: none;
    }
    .circle-red{
        display: none;
    }
    .text-name{
        display: none;
    }
    .img-angle-down{
        display: none;
    }
    .nav-left{
        display: none;
        position: absolute;
        width: 90px;
        height: 1456px;
        background-color: #ffffff;
        box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
        border-radius: 0px 50px 50px 0px;
    }

    .img-logo-moblie{
        display: block;
        padding: 5px;
        width: 50px;
        height: 50px;
        border-radius: 10px;
    }

    .img-user{
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .f-left{
        clear: both;
    }
    .f-right{
        clear: both;
    }

    .container{
        padding-left: 9px;
        padding-right: 9px;
        padding-top: 80px;
        padding-bottom: 50px;
        width: 100%;
        position: absolute;
    }

    .vertical{
        display: none;
    }

    .w-100{
        width: 100%;
        padding-top: 11px;
    }

    .font{
        font-size: 20px;
    }

    .block-res{
        height: 375px;
        background: #ffffff;
        padding: 50px !important;
        border-radius: 10px;
    }

    .ui.grid>.stackable.stackable.stackable.row>.column, .ui.stackable.grid>.column.grid>.column, .ui.stackable.grid>.column.row>.column, .ui.stackable.grid>.column:not(.row), .ui.stackable.grid>.row>.column, .ui.stackable.grid>.row>.wide.column, .ui.stackable.grid>.wide.column {
        width: 100% !important;
        margin: 5px !important;
        padding: 0px !important;
        }
    
    .for-web{
        display: none;
    }

    .img-res{
        width: 100%;
        border-radius: 10px 10px 0px 0px;
        height: 87px;
    }

    .img-food1{
        border-radius: 20px;
        padding: 10px;
        width: 100%;
        height: 230px;
    }

    .for-moblie{
        display: revert;
    }

    .mg-10{
        padding-top: 15px;
    }
}
